<a href="https://colab.research.google.com/github/shreshta97/DATA-690-WANG/blob/master/Assignment_04/Assignment_04_census_cost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.

In [5]:
# open and read the file
with open("census_cost.txt", "rt") as f: 
  line_list = f.readlines()

In [6]:
# print the list of lines
type(line_list)

list

In [7]:
line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

In [8]:
# print one line at a time using a loop
for row in line_list: 
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [9]:
# print top2_list using an index assignement 
top2_list = line_list[:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [32]:
#Write file with only data elements
with open("new_file.txt", "wt") as f:
    for line in line_list[2:]:
      f.write(line.replace("\t", ","))

3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [102]:
# generate data list from line_list using a for loop 
data_list = line_list[2:]
for data in data_list: 
  print(data)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

4. Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. Remove the "*" from the last element "2010*". Print the cleansed year_list.

In [99]:
# generate a year_list form data list_ using a for loop 
# remove the * using a str.replace() function 
for year in data_list: 
  year_list = (year.split() and year.replace("*"," ")[:4])
  print(year_list)

1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010

5. Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [100]:
# generate a population list from the data list and remove the commas 
# I am having trouble formatting this 
for pop in data_list:
  pop_list = pop.split()and pop.replace(',','')[5:14]
  print(pop_list)

3929214	$
5308483	$
7239881	$
9633822	$
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
	30874553

6. Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list

In [89]:
# generate the cost_list 
# how can I format this without loosing data
# I think my data list is not attibuted to the correct data
for data in data_list[0:]:
  cost_list = (data.split() and data.replace("*"," ")[16:])
  for cost in cost_list: 
    print(cost, end='')

44,377	1.13 cents
66,109	1.24 cents
178,445	2.46 cents
208,526	2.16 cents
$378,545	2.94 cents
$833,371	4.88 cents
$1,423,351	6.14 cents
$1,969,377	6.26 cents
$3,421,198	8.87 cents
$5,790,678	11.54 cents
$11,547,127	18.33 cents
$11,854,000	15.54 cents
$15,968,000	17.07 cents
	$25,117,000	23.76 cents
	$40,156,000	32.71 cents
	$67,527,000	51.29 cents
	$91,462,000	60.44 cents
	$127,934,000	71.34 cents
	$247,653,000	$1.22
	$1,078,488,000	$4.76
	$2,492,830,000	$10.02
	$4.5 Billion	$15.99
8	$13 Billion	$42.11

7. Extract the **"Average Cost per 
Person"** column from the data_list and assign them to a list named **"avg_list"**. Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.