<a href="https://colab.research.google.com/github/shreshta97/DATA-690-WANG/blob/master/Assignment_04/pandas_webscarping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
DATA_URL= 
df = pd.read_csv(Data_URL)
df.head()

In [ ]:
df.columns
df.shape

In [2]:
WEB_URL = "https://www.genealogybranches.com/censuscosts.html"
df_list = pd.read_html(WEB_URL)
len(df_list)

2

In [11]:
df= df_list[0].head()
print(df)

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [10]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
header= df.iloc[0]
header

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [15]:
df =df.iloc[1:]
df.head()

      0        1         2           3
2  1800  5308483   $66,109  1.24 cents
3  1810  7239881  $178,445  2.46 cents
4  1820  9633822  $208,526  2.16 cents

In [18]:
type(header)

pandas.core.series.Series

In [19]:
header_list = list(header)
header_list

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']

In [21]:
df.columns = header_list

In [22]:
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
2        1800          5308483     $66,109              1.24 cents
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents